:root {
  /* Colors */
  --primary-green: #308057;
  --secondary-green: #3fa472;
  --primary-maroon: #741b18;
  --primary-brown: #ee9669;
  --primary-gold: #9c4341;
  --third-color: gray;
  --white: #ffffff;
  --second-white: #f0f0f0;
  --third-white: #fafafa !important;
  --black: #000000;
  --black-main: rgba(0, 0, 0, 0.911);
  --black-secondary: rgba(10, 10, 10, 0.911);
  --gray: #5e5d5d;

  /* Fonts */
  --primary-font-family: 'Jost', sans-serif;
}

::selection {
  background: var(--primary-green);
  color: var(--white);
}
::-moz-selection {
  background: var(--primary-green);
  color: var(--white);
}

html {
  scroll-behavior: auto !important;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e2e7e9;
}

code {
  font-family: 'Inter', sans-serif;
}

.primary-font {
  font-family: 'Inter', sans-serif;
}

.landing_img_container {
  background-image: linear-gradient(to top, #000000ba, #0000001e),
    url(./../public/images/shutterstock_1874668861.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 335px;
}

.my_carousel {
  width: 100%;
  height: 335px;
  color: var(--white);
}

.my_carousel_b {
  display: flex;
  flex-direction: column;
  padding: 180px 0 0 20px;
}

.featured_link {
  color: var(--white);
  text-decoration: none;
  background-color: var(--primary-green);
  border-radius: 10px;
  font-size: 12px;
  padding: 2px 10px;
}

.announcement_card_head {
  background-color: var(--primary-green);
  color: var(--white);
  border-style: none;
}

.announcement_card_head_content {
  align-items: center;
}

.announce {
  display: flex;
  flex-direction: column;
  padding: 15px 0 0 20px;
}

.announcement_card_head i {
  font-size: 40px;
}

.announcement_card_body {
  background-color: var(--secondary-green);
  color: var(--white);
  border-style: none;
}

.anouncement_card_link {
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
}

.my_card {
  margin-bottom: 15px;
  border-style: none;
  border-left: solid 15px var(--primary-maroon);
  border-radius: 0 10px 10px 0;
}

.my_card_b {
  margin-bottom: 15px;
  border-style: none;
  border-left: solid 15px var(--primary-brown);
  border-radius: 0 10px 10px 0;
}

.my_card_c {
  border-style: none;
  border-left: solid 15px var(--primary-green);
  border-radius: 0 10px 10px 0;
}

.card_briefs {
  display: flex;
}

.card_briefs_b {
  display: flex;
}

.card_briefs_c {
  display: flex;
}

.brief_image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  background-size: cover;
}

.brief_content small {
  font-size: 11px;
  color: var(--gray);
}

.brief_content_tasks_team p {
  font-size: 11px;
  color: var(--gray);
}

.brief_content span {
  font-size: 18px;
  color: var(--primary-maroon);
  line-height: 0;
}

.brief_content_tasks h6 {
  font-size: 18px;
  color: var(--primary-brown);
}

.brief_content_tasks_team h6 {
  font-size: 18px;
  color: var(--primary-green);
}

.brief_content_tasks {
  font-size: 12px;
}

.brief_link_div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.card_briefs_bs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -20px;
  padding-bottom: 10px;
}

.card_briefs_bss {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -35px;
  padding-bottom: 5px;
}

.progress {
  height: 10px;
  border-radius: 5px;
  background-color: #e0e0e0;
  margin: 10px 0 0 5px;
}

.progress-bar {
  background-color: #eba581;
  height: 10px;
  border-radius: 5px;
  width: 100%;
}

.brief_left_icon {
  font-size: 40px;
  color: var(--primary-brown);
  padding-right: 15px;
}

.brief_left_icon_team {
  font-size: 40px;
  color: var(--primary-green);
  padding-right: 15px;
}

.brief_icon {
  color: #c7c7c7;
}

/* ----------------- */

.company_news_container {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.my_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my_row h6 {
  font-size: 18px;
  color: var(--primary-gold);
}

.btn_news {
  color: var(--white);
  background: linear-gradient(to left, #d85b3b, #9c4341);
  border-radius: 10px;
  font-size: 12px;
  padding: 4px 10px;
  text-decoration: none;
  border-style: none;
}

.btn_news:hover {
  cursor: pointer;
}

.the_news span {
  font-size: 12px;
  color: var(--primary-green);
}

.the_news h5 {
  font-size: 18px;
  color: #333;
  padding-top: 20px;
}

.the_news p {
  font-size: 15px;
  color: var(--gray);
}
