:root {
  /* Colors */
  --primary-green: #308057;
  --secondary-green: #3fa472;
  --secondary-color-hover: #012641;
  --third-color: gray;
  --white: #ffffff;
  --second-white: #f0f0f0;
  --third-white: #fafafa !important;
  --black: #000000;
  --black-main: rgba(0, 0, 0, 0.911);
  --black-secondary: rgba(10, 10, 10, 0.911);
  --gray: #5e5d5d;

  /* Fonts */
  --primary-font-family: 'Jost', sans-serif;
}

::selection {
  background: var(--secondary-color);
  color: var(--white);
}
::-moz-selection {
  background: var(--secondary-color);
  color: var(--white);
}

html {
  scroll-behavior: auto !important;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Inter', sans-serif;
}

.primary-font {
  font-family: 'Inter', sans-serif;
}

.announcement_card_head {
  background-color: var(--primary-green);
  color: var(--white);
  border-style: none;
}

.announcement_card_head_content {
  align-items: center;
}

.announce {
  display: flex;
  flex-direction: column;
  padding: 15px 0 0 20px;
}

.announcement_card_head i {
  font-size: 40px;
}

.announcement_card_body {
  background-color: var(--secondary-green);
  color: var(--white);
  border-style: none;
}

.anouncement_card_link {
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
}
